button {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(252, 138, 176);
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
}

.homeView {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:rgb(138, 201, 252);
}

.backToAbout, 
.backToSignIn,
.backToUser {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(252, 138, 176);
    width: 12%;
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 150%;
}

div {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
}

.path {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: 150%;
}

.gif {
    width: 20%;
    height: 10%;
    display: unset;
    grid-template-columns: repeat(10, 1fr);
    border-style: solid;
}