button {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 169, 198);
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
}

.homeView {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:rgb(196, 227, 253);
}

.backToAbout, 
.backToSignIn,
.backToUser {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 169, 198);
    width: 12%;
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 150%;
}

div {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
}

.state {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: 150%;
}

.gif {
    width: 20%;
    height: 10%;
    display: unset;
    grid-template-columns: repeat(10, 1fr);
    border-style: solid;
}

.array {
    font-family:monospace;
    font-size: 180%;
    display: block;
    align-self: center;
    width: 100%;
    background-color: rgb(153, 255, 153);
}