.buttonCount {
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(224, 255, 205);
    width: 17%;
    cursor: pointer;
    text-transform: uppercase;
    font-family:serif;
    font-weight: bolder;
}

.aboutView {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:rgb(196, 227, 253);
}

.backToHome,
.backToSignIn,
.backToUser {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 169, 198);
    width: 12%;
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 150%;
}

div {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
}

.character {
    font-size: 100%;
    text-align: center;
    display: table;
    width: 50%;
    background-color: rgb(248, 167, 138);
    border-style:solid;
}

.loadingGif {
    width: 40%;
    height: 30%;
    display: unset;
    grid-template-columns: repeat(10, 1fr);
    border-style: solid;
}

.state {
    grid-template-columns: repeat(10, 1fr);
    font-size: 150%;
    display: table;
    background-color:rgb(196, 227, 253);
}