button {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 169, 198);
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
}

.userView {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:rgb(196, 227, 253);
}

.backToHome,
.backToAbout,
.backToSignIn {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 169, 198);
    width: 12%;
    cursor: pointer;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 150%;
}

div {
	display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
}

.state {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-size: 150%;
}

.gif {
    width: 20%;
    height: 10%;
    display: unset;
    grid-template-columns: repeat(10, 1fr);
    border-style: solid;
}