button {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(252, 138, 176);
}

.signInView {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
}

.backToHome,
.backToUser,
.backToAbout {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(252, 138, 176);
    width: 12%;
}

div {
    border-radius: 4px;
	display: block;
    margin: 0 auto;
    text-align: center;
}