.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:rgb(205, 158, 250);
}

.logotype {
    width: 100px;
}

.signIn {
    grid-template-columns: 9/10;
    align-self: center;
}

.about {
    grid-template-columns: 9/10;
    align-self: center;
}

.user {
    grid-template-columns: 9/10;
    align-self: center;
}

.logotype, 
.signIn,
.about,
.user {
    cursor: pointer;
	transition:ease-in-out;
    text-transform: uppercase;
    font-style: oblique;
   
}